.root {
	-fx-background-image: url("../resources/background2.png");
}

.label {
	-fx-font-size: 15px;
	-fx-font-family:"HCR Dotum";
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.5), 0.0, 0.0, 0.0, 1.0);
	-fx-background-repeat: no-repeat;
}
#fxchange{
	-fx-font-family:"HCR Dotum";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-border-radius: 10.0px;
	-fx-text-fill: #000000;
	-fx-border-color: #B388FF;
	-fx-padding: 5.0px 5.0px;
	-fx-background-image: url("../resources/수정용.png");
	-fx-background-size: cover;
	-fx-background-position: center center;
	
}
#fxmember{
	-fx-font-family:"HCR Dotum";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-border-radius: 10.0px;
	-fx-text-fill: #000000;
	-fx-border-color: #007bff;
	-fx-padding: 5.0px 5.0px;
	-fx-background-image: url("../resources/리스트.png");
	-fx-background-size: cover;
	-fx-background-position: center center;
}
.button {
	-fx-border-radius: 4.0px;
	-fx-background-radius: 4.0px;
	-fx-background-color: #007bff;
	-fx-text-fill: #fff;
	-fx-border-color: #007bff;
	-fx-padding: 5.0px 5.0px;
}

.button:hover {
	-fx-background-color: #0069d9;
	-fx-border-color: #0062cc;
}


#list {
	-fx-font-size: 32.0px;
	
	-fx-fill: #818181;
	}
