.root {
	-fx-background-image: url("../resources/background.png");
}

.label {
	
}
#btnLogout.button {
	-fx-text-fill: #fff;
}
.button {
	-fx-border-radius: 4px;
	-fx-background-radius: 4px;
	-fx-background-color: #007bff;
	-fx-text-fill: #fff;
	-fx-border-color: #007bff;
	-fx-padding: 5px 5px;
}

.button:hover {
	-fx-background-color: #0069d9;
	-fx-border-color: #0062cc;
}


#list {
	-fx-font-size: 32px;
	
	-fx-fill: #818181;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#ice{
	-fx-text-fill: #000000;
	-fx-background-image: url("../resources/newcold.jpg");
	
}
#btnMemo{
	-fx-text-fill: #000000;
	-fx-background-image: url("../resources/memo.jpg");
	
}
#cold{
	-fx-text-fill: #000000;
	-fx-background-image: url("../resources/cold.jpg");
	
}
#btnTemp{
	-fx-text-fill: #000000;
	-fx-background-image: url("../resources/ondo.png");
	
}

