.root {
	-fx-background-image: url("../resources/background.png");
}

.label {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
	-fx-background-repeat: no-repeat;
}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial_Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button-blue {
	-fx-background-color: #7CAFC2;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 4;
}

#list {
	-fx-font-size: 32px;
	-fx-font-family: "Arial_Black";
	-fx-fill: #818181;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}
#buttonWithImage {          
    -fx-graphic: url("/yegin/resources/arrow.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}