.root {
	-fx-background-image: url("../yegin/resources/background.png");
}

.label {

}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial_Narrow";
	-fx-font-weight: bold;
	-fx-background-color: #9c70d3;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button-blue {
	-fx-background-color: #7CAFC2;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 4;

}

